@model IEnumerable<TodoListApp.Models.TodoModel>

<h2>新增待辦事項</h2>
<form id="addTodoForm">
    <input type="text" id="todoName" placeholder="New Todo Name" />
    <button type="submit">Add Todo</button>
</form>
<br>
<h2>待辦事項</h2>
<table id="todoTable">
    <tbody>
        <!-- JavaScript動態填充待辦事项 -->
    </tbody>
</table>

<script src="~/js/todo.js"></script><!-- JavaScript待碼文件 -->